<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css" />
<script type="text/javascript" src="__PUBLIC__/js/times.js"></script>
</head>
<body onload="showLeftTime()">
	<div class="top">
		<div class="top-logo"></div>
		<div class="top-name">
			<div class="top-name-cn">Test.....!</div>
		</div>
		<div class="top-info">
			<div class="top-info-date">
				<label id="show">显示时间的位置</label>
			</div>
		</div>
	</div>
	<div class="sidebar">
		<ul class="sidebar-list">
			<li><a href="#">基本配置</a>
				<ul class="sub-menu">
					<li><a href="{:U('/Home/Runlua')}">运行脚本</a></li>
				</ul>
				<ul class="sub-menu">
					<li><a href="{:U('/Home/Hcurl')}">数据分析</a></li>
				</ul>
			</li>
			<li><a href="#">系统管理</a>
				<ul class="sub-menu">
					<li><a href="{:U('/Home/Runlua')}">显示列表</a></li>
				</ul>
			</li>
		</ul>
	</div>
</body>
</html>