<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css" />
<script type="text/javascript" src="__PUBLIC__/js/times.js"></script>
</head>
<body onload="showLeftTime()">
	<div class="top">
		<div class="top-logo"></div>
		<div class="top-name">
			<div class="top-name-cn">后台管理</div>
		</div>
		<div class="top-info">
			<div class="top-info-date">
				<label id="show">显示时间的位置</label>
			</div>
		</div>
	</div>
	<div class="sidebar">
		<ul class="sidebar-list">
			<li><a href="#">设置</a>
				<ul class="sub-menu">
					<li><a href="{:U('/Home/Runlua')}">运行脚本</a></li>
				</ul></li>
		</ul>
	</div>
</body>
</html>